/* Print CSS reset
   Author: @randalmaia
   - Remove browser footer and header.
   - Set page margin. 
*/
@page {
    margin: 1.5cm 1cm;
}

@page :first {
    margin-top: 1cm;
}

body {
    background: #fff !important;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
}

main {
    padding: 0;
}

header {
    margin-bottom: 0.5cm;
}

.header-right {
    flex-basis: 150px;
    align-self: flex-start;
    padding: 35px 0 12px 12px;
}

section:not(:first-child) {
    margin-top: 0.5cm;
}

section h2 {
    border-radius: 6px 6px 0 0;
    border: 1px solid #c1c7d0;
    color: #000;
}

section {
    page-break-inside: avoid;
}

/* All unecessary elements */
.topbar {
    display: none;
}

a[href]:after {
    content: " (" attr(href) ")";
}

a[href^="#"]:after,
a[href^="javascript"]:after {
    content: "";
}

.alert::before {
    display: none;
}
