@page {
    margin: 1.5cm 1cm;
}

@page :first {
    margin-top: 1cm;
}

body {
    background: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
.dateTime sub,
.report-image {
    color: #000;
}

.alert::before,
.draft-chip,
.header-left .alert {
    -webkit-print-color-adjust: exact;
}

section,
figure {
    page-break-inside: avoid;
}

.topbar {
    display: none;
}

.alert::before {
    background: #000;
}

h2 .alert {
    color: rgb(189, 189, 189) !important;
}

h2 .alert::before {
    background: rgb(189, 189, 189);
}

main {
    padding: 0;
}

header {
    margin-bottom: 0.5cm;
}

.header {
    border-color: #000;
    padding-top: 20px;
}

.draft .header-left .alert {
    display: inline-flex;
    background: #ffebe6;
    border-radius: 4px;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.1px;
    color: #de350b;
    padding: 2px 5px;
    margin-top: 12px;
}

.draft .header-left .alert::before {
    background: #de350b;
    width: 16px;
    height: 16px;
}

.header-right {
    flex-basis: 150px;
    align-self: flex-start;
    padding: 35px 0 12px 12px;
}

section:not(:first-child) {
    margin-top: 0.5cm;
}

section h2 {
    border-radius: 6px 6px 0 0;
    border: 1px solid #000;
    color: #000;
}

section h6 {
    font-size: 12px;
}

section > div {
    border: 1px solid #000;
    border-top: none;
}

.geo-details > div {
    border-color: #000 !important;
}

footer {
    display: block;
}
